#EasyLAN configuration
#Sun Sep 06 16:26:36 AST 2026
OpCommands=true
spawn-Animals=true
Port=25565
pvp=true
Http-Api=true
SaveCommands=false
Lan-output=true
MaxPlayer=20
BanCommands=false
Motd=This is a Default EasyLAN Motd\!
allow-Flight=true
whiteList=false
online-mode=false
